body {
  background: url('cookingtable.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumboStatement {
	text-align: center;
}

#jumboBox {
	margin-top: 10%;
}

#foodList a{
	color: #FFFFFF;
  font-size: 1.8em;
	text-decoration: none;
	margin-left: 28px;
	animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s;  Safari and Chrome
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

#foodList a:hover {
	text-decoration: underline;
}

#foodList li{
	list-style: none;
	margin-top: 15px;
}

